.my-nav {
    background-color:  rgba(248, 249, 250, 0.8);
    height: var(--myheight-navbar);
}

.link-hover:hover{
    color: rgb(151, 10, 14);
}

.navlogo{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: url('https://media-exp1.licdn.com/dms/image/C560BAQHMnA03XDdf3w/company-logo_200_200/0?e=2159024400&v=beta&t=C7KMOtnrJwGrMXmgIk2u1B8a7VRfgxMwXng9cdP9kZk');
    height: 75px;
    width: 100px;
}

@media screen and (max-width: 768px) {
    .navlogo{
        background-image: url('./minilogo.png');
    }
}