.my-nav {
    background-color:  rgba(248, 249, 250, 0.8);
    height: var(--myheight-navbar);
}

.link-hover:hover{
    color: rgb(151, 10, 14);
}

.navlogo{
    content:url("./logo.png");
    width:auto;
    height: calc(var(--myheight-navbar) -10px);
}

@media screen and (max-width: 768px) {
    .navlogo{
        content:url("./minilogo.png");
    }
}