.my-nav {
    background-color:  rgba(248, 249, 250, 0.8);
    height: var(--myheight-navbar);
}

.link-hover:hover{
    color: rgb(151, 10, 14);
}

.navlogo2{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: url("./logo.png");
    height: 40px;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .navlogo2{
        background-image: url('./minilogo.png');
    }
}