/* BODY E CONTAINER-FLUID MOD */

body {
    background-color: #f5f6fb;
}

.container-fluid {
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}


/* Variabili CSS */

:root {
    --mycolor-separatore: #8898aa3a;
    --myheight-navbar: 35px;
    --icon-height: 150px;
    --icon-width: 150px;
    --mini-icon-height: 100px;
    --mini-icon-width: 100px;
}


/* COLORI */

.primary-color {
    color: rgb(245, 174, 21);
}

.secondary-color {
    color: rgb(129, 129, 129)
}

.tertiary-color {
    color: rgb(2, 102, 216);
}

.quaternary-color {
    color: rgb(207, 10, 16);
}

.mycolor-orange {
    color: rgb(245, 174, 21);
}

.mycolor-red {
    color: rgb(207, 10, 16);
}

.color-orange {
    color: rgb(245, 174, 21);
}

.mycolor-grey {
    color: rgb(129, 129, 129);
}

.color-text-grey {
    color: rgb(68, 67, 67);
}


/* TITOLI E TESTI */

.bigTitle {
    font-size: 42px;
    font-family: 'Roboto';
}

.mediumTitle {
    font-size: 36px;
    font-family: 'Roboto';
}


/* c */

.title {
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: bold;
}

.text-small {
    font-size: 14px;
}

.subTitle {
    font-size: 20px;
}

.largeText {
    font-size: 28px;
    font-family: 'Roboto';
}

.mediumText {
    font-size: 20px;
    font-family: 'Roboto';
}

.tinyText {
    font-size: 1rem;
    font-family: 'Roboto';
}

.border-radius-10 {
    border-radius: 10px;
}


/* IMMAGINI E ICONE*/

.tiny-img {
    width: var(--icon-width);
    height: var(--icon-height);
    display: block;
    object-fit: cover;
}

.medium-img {
    width: 200px;
    height: 200px;
    display: block;
    object-fit: cover;
}

.tiny-icon {
    width: 150px;
    height: auto;
}

.big-logo {
    width: 350px;
    height: auto;
}

.logo {
    width: 150px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .bigTitle {
        font-size: 36px;
    }
    .mediumTitle {
        font-size: 28px;
    }
    .title {
        font-size: 20px;
    }
    .subTitle {
        font-size: 16px;
    }
    .largeText {
        font-size: 22px;
        font-family: 'Roboto';
    }
    .tinyText {
        font-size: 0.8rem;
    }
    .big-logo {
        width: 250px;
    }
    .logo {
        width: 100px;
    }
    .tiny-img {
        width: 100px;
        height: 100px;
    }
}


/*DA RIVEDERE...*/

.transfer-button {
    border-radius: 20px;
}

.img-cover {
    object-fit: cover;
    height: 70vh;
    width: 100%;
}

div.anchor {
    display: block;
    position: relative;
    top: calc(-1 * var(--myheight-navbar));
}

div.pixel {
    width: 1px;
    height: 1px;
}

.taglia-testo {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.taglia-testo-pernottamento {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}


/* 

display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

*/