/* BODY E CONTAINER-FLUID */

body {
    background-color: #f5f6fb;
}

.container-fluid {
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}

/* COLORI */

.color-orange {
    color: #ffb400;
}

.color-text-grey {
    color: #8898AA !important;
}

.title {
    font-size: 24px;
    font-family: 'Roboto';
}

@media screen and (max-width: 992px) {
    body {
        background-color: blue;
    }
}

.subTitle {
    font-size: 20px!important;
}

.date-text {
    font-size: 24px !important;
    color: #8898AA !important;
    font-weight: 300 !important;
}

.img-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
}