.hero {
    color: white;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    width: 100vw;
    height: 70vh;
}
.heroScritta{
   margin-top:15%;
   padding-right: 10%;
}
.hero .container {
    position: relative;
    z-index: 11;
}

.hero .overlay {
    position: absolute;
    background: rgba(248, 67, 67, 0.452);
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
}