.accordiongallerypics {
    position: relative;
}

.accordiongallerypicsfilter {
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
}

.accordiongallerypicsfilter span {
    font-size: 20px;
    font-weight: 600;
}

.accordiongallerydescription__body p {
    line-height: 1.3;
    margin-bottom: 0;
}

.color-reminder-pernottamento {
    color: rgb(129, 129, 129);
}

.testo-pernottamento {
    -webkit-line-clamp: 4;
}

.taglia-testo-pernottamento {
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}