
.reference-card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}


.separatore-scheda {
    border-right: 1px solid grey;
    height: 100%;
}



.icon-azienda {
    width: 150px;
    height: auto;
    align-items: center;
    align-content: center;
}

.info-ref {
    padding-top: 15px;
    padding-left: 0px;
}

.info-azienda {
    padding-left: 80px;
    padding-top: 15px;
}

.orange-color {
    color: orange;
}

.little {
    font-size: 14px;
}