.reference-card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.separatore-card {
    border-right: 1px solid var(--mycolor-separatore);
    height: 25vh;
}

@media screen and (max-width: 1200px) {
    .separatore-card {
        border-bottom: 1px solid var(--mycolor-separatore);;
        border-right: 0;
        margin: 2vh;
        height: 1px;
    }
}