/*
.container-scheda {
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 5px 5px 10px 2px #919191;
    -webkit-box-shadow: 5px 5px 10px 2px #919191;
    -moz-box-shadow: 5px 5px 10px 2px #919191;
}
*/

.separatore-scheda {
    border-right: 1px solid grey;
    height: 100%;
}

.icon-scheda {
    width: 200px;
    height: 200px;
    padding: 15px;
}

.icon-azienda {
    width: 150px;
    height: auto;
    align-items: center;
    align-content: center;
}

.info-ref {
    padding-top: 15px;
    padding-left: 0px;
}

.info-azienda {
    padding-left: 80px;
    padding-top: 15px;
}

.orange-color {
    color: orange;
}

.little {
    font-size: 14px;
}