.reference-card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-left: 0;
    padding-right: 0;
}

.separatore-card {
    border-right: 1px solid var(--mycolor-separatore);
    height: 22vh;
}

@media screen and (max-width: 1200px) {
    .separatore-card {
        border-bottom: 1px solid var(--mycolor-separatore);;
        border-right: 0;
        margin-top: 4vh;
        margin-bottom: 4vh;
        height: 1px;
    }
    .reference-card{
        padding-left: 5vw;
        padding-right: 5vw;
    }
}