.coda-timeline{
    border-left: 10px dotted grey;
    height: calc(100% - 90px);
    width: auto;
}

.day-circle{
    background-color: rgb(252, 171, 22);
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-circle{
    background-color: #b0dbed;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    color: rgb(137,169,184);
    display: flex;
    justify-content: center;
    align-items: center;
}

.transport-circle{
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    justify-content: center;
    align-items: center;
}