/* bg body
#f5f6fb

title blue / bg footer / bg nav 
#3482d4

title dark gray
#585a66

title medium gray
#9ca6af

title yellow
#ffb401

text blue light
#a6c8eb

bg icon blue light
#b0dbee

bg icon yellow
#fded98

bg icon pink
#fcd1da

 */

.icon {
    height: 6em!important;
    width: 100px!important;
    padding: 10px;
}

.icon-taxi {
    background-color: #fded98;
    color: #ee9d08
}

.icon-bus {
    background-color: #b0dbee;
    color: #31befa
}

.icon-car {
    background-color: #fcd1da;
    color: #f73761
}

.btn {
    border-radius: 20px;
}